<section class="py-12 py-md-16 py-lg-24">
  <div class="container position-relative">
    <div class="mw-md mw-md-xl mx-auto mw-lg-6xl">
      <div class="mb-20 mb-md-32">
        <div class="row">
          <div class="col-12 col-lg-5 mb-12 mb-lg-0">
            <div class="mw-lg-md h-100">
              <%= image_tag_with_srcset(class: "img-fluid d-block h-100 w-100 rounded-3", alt: data.config.keyword_2.sample) %>              
            </div>
          </div>
          <div class="col-12 col-lg-7">
            <div class="mw-lg py-lg-16">
              <span class="badge d-inline-flex align-items-center mb-6 bg-primary-light text-primary border border-info">
                <svg width="8" height="8" viewbox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="4" cy="4" r="3" fill="#FF7100"></circle></svg>
                <span class="ms-1 lh-base"><%= data.config.keyword_2.sample %></span>
              </span>
              <h2 class="font-heading mb-6"><%= data.content.about.title %></h2>
              <p class="fs-5 text-light-dark mb-0"><%= data.content.about.part_1.article %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-20 mb-md-32 mb-xl-40">
        <h4 class="mb-16"><%= data.content.about.part_1.subtitle %></h4>
        <div class="row">
          <div class="col-12 col-lg-6 mb-8 mb-lg-0">
            <div class="position-relative ps-8 mw-lg">
              <div class="position-absolute start-0 top-0 border-2 border-start border-primary py-3"></div>
              <h5 class="display-3 fw-bold mb-4"><%= data.content.about.part_2.subtitle %></h5>
              <p class="text-muted"><%= data.content.about.part_2.article %></p>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="position-relative ps-8 mw-lg">
              <div class="position-absolute start-0 top-0 border-2 border-start border-primary py-3"></div>
              <h5 class="display-3 fw-bold mb-4"><%= data.content.about.part_3.subtitle %></h5>
              <p class="text-muted"><%= data.content.about.part_3.article %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
