<section class="py-12 py-md-16 py-lg-24 overflow-hidden">
  <div class="container">
    <div class="mw-lg mw-md-2xl mx-auto mw-lg-none">
      <div class="position-relative mb-20 mb-md-32">
        <div class="mb-64 mb-lg-32">
          <h1 class="font-heading mw-4xl mb-6"><%= data.content.about.title %></h1>
          <p class="mw-lg text-light-dark fs-5"><%= data.content.about.part_1.article %></p>
        </div>
        <div class="position-relative mb-20 mb-lg-32 mx-8">
          <div class="position-absolute top-0 end-0 mt-n52 me-8 me-xl-24" style="z-index: 1;"></div>
          <div class="position-absolute top-0 mt-n12 ms-6 start-0 w-100 h-100 bg-primary-light rounded-3"></div>
          <div class="position-absolute top-0 mt-n6 start-0 w-100 h-100 bg-secondary rounded-3"></div>
          <%= image_tag_with_srcset(class: "position-relative ms-n6 img-fluid d-block w-100 rounded-3", style: "height: 600px; object-fit: cover;", alt: "About Image 1") %>
        </div>
        <div>
          <div class="row mb-16">
            <div class="col-12 col-md-6">
            </div>
          </div>
          <div class="row mb-16">
            <div class="col-12 col-lg-6 mb-8 mb-lg-0">
              <div class="p-8 border rounded-3">
                <svg width="56" height="56" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="56" height="56" rx="16" fill="#FF7100"></rect>
                  <path d="M23.0001 14.6666V41.3333H22.4134C17.5601 41.3333 14.6667 38.44 14.6667 33.5866V22.4133C14.6667 17.56 17.5601 14.6666 22.4134 14.6666H23.0001Z" fill="white"></path>
                  <path d="M40.8333 22.4133V26.5H25.5V15.1666H33.5867C35.9139 15.1666 37.7113 15.8584 38.9264 17.0735C40.1416 18.2886 40.8333 20.0861 40.8333 22.4133Z" fill="white" stroke="white"></path>
                  <path d="M41.3333 29V33.5867C41.3333 38.44 38.44 41.3333 33.5867 41.3333H25V29H41.3333Z" fill="white"></path>
                </svg>
                <div class="position-relative my-4">
                  <div class="position-absolute start-0 top-0 ms-n8 border-2 border-start border-primary py-3"></div>
                  <h5 class="display-3 fw-bold mb-0"><%= data.content.about.part_3.subtitle %></h5>
                </div>
                <p class="mw-lg text-light-dark mb-0"><%= data.content.about.part_3.article %></p>
              </div>
            </div>
            <div class="col-12 col-lg-6">
              <div class="p-8 border rounded-3">
                <svg width="56" height="56" viewbox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect width="56" height="56" rx="16" fill="#FF7100"></rect>
                  <path d="M23.0001 14.6666V41.3333H22.4134C17.5601 41.3333 14.6667 38.44 14.6667 33.5866V22.4133C14.6667 17.56 17.5601 14.6666 22.4134 14.6666H23.0001Z" fill="white"></path>
                  <path d="M40.8333 22.4133V26.5H25.5V15.1666H33.5867C35.9139 15.1666 37.7113 15.8584 38.9264 17.0735C40.1416 18.2886 40.8333 20.0861 40.8333 22.4133Z" fill="white" stroke="white"></path>
                  <path d="M41.3333 29V33.5867C41.3333 38.44 38.44 41.3333 33.5867 41.3333H25V29H41.3333Z" fill="white"></path>
                </svg>
                <div class="position-relative my-4">
                  <div class="position-absolute start-0 top-0 ms-n8 border-2 border-start border-primary py-3"></div>
                  <h5 class="display-3 fw-bold mb-0"><%= data.content.about.part_2.subtitle %></h5>
                </div>
                <p class="mw-lg text-light-dark mb-0"><%= data.content.about.part_2.article %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex mb-24">
        <%= image_tag_with_srcset(class: "img-fluid me-8 d-block w-100 mw-xs rounded-3", style: "height: 320px; object-fit: cover;", alt: "About Image 1") %>
        <%= image_tag_with_srcset(class: "img-fluid me-8 d-block w-100 mw-xs rounded-3", style: "height: 320px; object-fit: cover;", alt: "About Image 2") %>
        <%= image_tag_with_srcset(class: "img-fluid me-8 d-block w-100 mw-xs rounded-3", style: "height: 320px; object-fit: cover;", alt: "About Image 3") %>
        <%= image_tag_with_srcset(class: "img-fluid me-8 d-block w-100 mw-xs rounded-3", style: "height: 320px; object-fit: cover;", alt: "About Image 4") %>
        <%= image_tag_with_srcset(class: "img-fluid d-block w-100 mw-xs rounded-3", style: "height: 320px; object-fit: cover;", alt: "About Image 5") %>
      </div>
    </div>
  </div>
</section>
