<% theme = data.config.html_theme %>
<% sections = data.config.sections %>
<% main = data.content.main %>
<% feedback = data.content.feedback %>
<% current_date = Time.now.strftime("%d %b %Y") %>
<section class="py-12 py-md-16 py-lg-24">
  <div class="container">
    <div class="mw-6xl mx-auto">
      <div class="text-center mb-12">
        <a class="d-inline-flex mb-12 align-items-center text-light-dark fw-bold" href="#"></a>
        <h2 class="font-heading"><%= main.title %></h2>
      </div>
      <%= image_tag_with_srcset(class: "img-fluid d-block mb-12 w-100 rounded-3", alt: data.config.keyword_2.sample) %>
      <div class="mw-4xl mx-auto">
        <div class="mb-12">
          <div class="d-flex mb-n6 flex-wrap py-5 border-top border-bottom align-items-center justify-content-between">
            <div class="mb-6">
              <div class="d-flex align-items-center">
                <%= image_tag_with_srcset(class: "img-fluid rounded-circle", style: "width: 64px; height: 64px;", alt: data.config.keyword_2.sample) %>
                <div class="ms-4">
                  <span class="d-block fw-semibold"><%= feedback.item_1.nikname %></span>
                  <span class="text-light-dark fw-medium">Content Writer, Solstice</span>
                </div>
              </div>
            </div>
            <div class="mb-6">
              <div class="d-flex flex-wrap align-items-center mb-n4">
                <div class="mx-3 mb-4 py-2 border-end"></div>
                <div class="mb-4">
                  <span class="me-3 small text-light-dark"><%= current_date %></span>
                  <svg width="4" height="4" viewbox="0 0 4 4" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="2" cy="2" r="2" fill="#D1D1D1"></circle></svg>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% if main.part_1 %>
          <h4 class="mb-6"><%= main.part_1.subtitle %></h4>
          <p class="fs-5 fw-medium text-dark-light lh-lg"><%= main.part_1.article %></p>
        <% end %>
        <% if main.part_2 %>
          <h4 class="mb-6"><%= main.part_2.subtitle %></h4>
          <p class="fs-5 fw-medium text-dark-light lh-lg"><%= main.part_2.article %></p>
        <% end %>
        <% if main.part_3 %>
          <h4 class="mb-6"><%= main.part_3.subtitle %></h4>
          <p class="fs-5 fw-medium text-dark-light lh-lg"><%= main.part_3.article %></p>
        <% end %>
        <div class="mt-12 pt-12 border-top d-flex justify-content-center">
          <div class="d-inline-flex me-12 align-items-center p-0">
            <a class="btn btn-outline-light p-0 d-flex align-items-center justify-content-center border rounded-pill shadow" href="#" style="width: 64px; height: 64px;">
              <svg width="25" height="24" viewbox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.3751 3.42897L12.3751 3.42898L12.3771 3.42584C12.5221 3.20672 12.8006 2.98925 13.1518 2.86515C13.4985 2.74258 13.8706 2.72708 14.1951 2.84835L14.2028 2.85122L14.2106 2.85383C14.9628 3.10714 15.4551 3.96709 15.3012 4.68521L15.2984 4.69827L15.2963 4.71145L14.7763 7.98145L14.7762 7.98143L14.7745 7.99389C14.7168 8.42683 14.833 8.83524 15.0915 9.15457L15.0993 9.16417L15.1075 9.17337C15.3681 9.46467 15.7517 9.64997 16.1701 9.64997H20.2801C20.9354 9.64997 21.4508 9.91226 21.7423 10.3192C22.0135 10.7056 22.0838 11.231 21.8785 11.8139L21.8784 11.8139L21.8751 11.824L19.4151 19.314L19.4095 19.3312L19.4051 19.3487C19.1547 20.3501 18.0176 21.22 16.8901 21.22H12.9901C12.7058 21.22 12.3515 21.1702 12.0232 21.0721C11.6846 20.971 11.4337 20.8365 11.3037 20.7064L11.2812 20.6839L11.256 20.6645L9.97604 19.6745L9.97606 19.6744L9.97144 19.671C9.60889 19.3972 9.39014 18.9561 9.39014 18.49V8.32998C9.39014 8.03019 9.48007 7.73681 9.64563 7.48812C9.64581 7.48785 9.64598 7.48759 9.64616 7.48733L12.3751 3.42897Z" fill="#B8B8B8" stroke="#B8B8B8"></path>
                <path d="M5.71 6.37988H4.68C3.13 6.37988 2.5 6.97988 2.5 8.45988V18.5199C2.5 19.9999 3.13 20.5999 4.68 20.5999H5.71C7.26 20.5999 7.89 19.9999 7.89 18.5199V8.45988C7.89 6.97988 7.26 6.37988 5.71 6.37988Z" fill="#B8B8B8"></path>
              </svg>
            </a>
            <span class="ms-4 small fw-medium text-dark">144</span>
          </div>
          <div class="d-inline-flex align-items-center p-0">
            <a class="btn btn-outline-light p-0 d-flex align-items-center justify-content-center border rounded-pill shadow" href="#" style="width: 64px; height: 64px;">
              <svg width="25" height="24" viewbox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.5 2H8.5C4.5 2 2.5 4 2.5 8V21C2.5 21.55 2.95 22 3.5 22H16.5C20.5 22 22.5 20 22.5 16V8C22.5 4 20.5 2 16.5 2ZM14.5 15.25H7.5C7.09 15.25 6.75 14.91 6.75 14.5C6.75 14.09 7.09 13.75 7.5 13.75H14.5C14.91 13.75 15.25 14.09 15.25 14.5C15.25 14.91 14.91 15.25 14.5 15.25ZM17.5 10.25H7.5C7.09 10.25 6.75 9.91 6.75 9.5C6.75 9.09 7.09 8.75 7.5 8.75H17.5C17.91 8.75 18.25 9.09 18.25 9.5C18.25 9.91 17.91 10.25 17.5 10.25Z" fill="#B8B8B8"></path>
              </svg>
            </a>
            <span class="ms-4 small fw-medium text-dark">12</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
