<div class="container">
  <%= partial section_partial('header') %>
  <%= partial section_partial('hero') %>
  <%= partial section_partial('about') %>
  <%= partial section_partial('featured') %>
  <%= partial section_partial('main') %>
  <%= partial section_partial('faq') %>
  <%= partial section_partial('feedback') %>
  <%= partial section_partial('footer') %>
</div>